# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Stina\Desktop\Nackademin\OOP\Intellij Ideaj projekt\Joel_Granberg_Uppgift_03\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
